@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'),
         url('../fonts/satisfy-v8-latin-regular.woff2') format('woff2'),
         url('../fonts/satisfy-v8-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
         url('../fonts/montserrat-v12-latin-italic.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
  }

*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    min-height: 35px;
    padding-bottom: 113px;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.menu{
    flex-basis: 510px;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 34px;
}
.menu-item {
    display: inline-block;
    margin-right: 37px;
    cursor: pointer; 
 }
.menu-item:last-child{
    margin-right: 0;
}
.item-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    transition: color 200ms linear;
}
.item-link:hover{
    color: #fed136;
}
.logo{
    flex-basis: 78px;
    text-decoration: none;
    font-family: 'Satisfy';
    font-size: 30px;
    line-height: 33px;
    color: #fed136; 
}


.services{
    text-align: center;
}
.section-title, .contact-us-title{
    margin-bottom: 19px;
    font-size: 40px;
    line-height: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}
.section-descr, .contact-us-descr{
    font-size: 16px;
    line-height: 19px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    color: #777777;
    margin-bottom: 80px;
}
.services-collection{
    display: flex;
    justify-content: space-around;
}
.service-card{
    text-align: center;
    flex-basis: 300px;
}
.circle{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 74px;
    height: 73px;
    background-image: url('../img/Circle-1.png');
    margin-bottom: 23px;
    background-position: center;
}
.service-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
}
.service-title{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 13px;
    color: #333333;
}
.service-descr{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #777777;
}
main{
    padding-bottom: 115px;
}


.contact-us{
    position: relative;
    text-align: center;
    height: 676px;
    background-color: #222222;
}
.contact-us-img{
    position: absolute;
    right: 55px;
    top: 120px;
    width: 614px;
    height: 537px;
}
.contact-us-title{
    padding-top: 108px;
    margin-bottom: 20px;
    line-height: 34px;
    color: #ffffff;
}
.contact-us-descr{
    margin-bottom: 76px;
}


.form{
    width: 940px;
    margin: 0 auto;
}
.inputs{
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
    width: 456px;
}
#name, #email, #subject, #text{
    display: block;
    width: 434px;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    color: #bbbbbb;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.inputs>input:not(:last-of-type){
    margin-bottom: 28px;
}
#name:invalid, #email:invalid,
#text:invalid {
    outline: 1px solid red;
}
#name:valid, #email:valid,
#text:valid{
    outline: 1px solid springgreen;
}
#text{
    display: inline-block;
    margin-left: -.3em;
    padding-top: 20px;
    height: 190px;
}
#button{
    display: block;
    padding: 24px 42px 22px;
    border: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fed136;
    border-radius: 3px;
    background-color: #fed136;
    text-align: center;
    margin: 0 auto;
    margin-top: 23px;
    cursor: pointer;
}
