
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.card-photo{
    flex-basis: 450px;
    width: 450px;
    height: 350px;
    padding-bottom: 10px;
}
