@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v18-latin-300.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v18-latin-regular.woff') format('woff');
}

body{
    margin: 0;
}  
.background{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),url('../img/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
}
.menu{
    width: 9.375rem;
}
.login, .signup{
    border: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #ffffff; 
    cursor: pointer;
}
.signup{
    border: 0.125rem solid #ffffff;
    padding: 0.5rem 0.9rem 0.5rem;
    border-radius: 1.5rem;
}
.logo{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #ffffff; 
}
.title{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #ffffff; 
}
.subtitle{
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #ffffff;
}
.find, .see-partners{
    border: 0;
    border: 0.0625rem solid #ff4e50;
    padding: 0.75rem 2.75rem 0.75rem;
    border-radius: 1.25rem;
    background-color: #ff4e50;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #ffffff;
    cursor: pointer;
}
.see-partners{
    border: 0.125rem solid #ff4e50;
    padding: 0.65rem 4.2rem 0.65rem;
    background-color: transparent;
    color: #ff4e50;
}
.card-photo{
    display: block;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}
.meet-colect{
    text-align: center;
}
.card-list {
    padding: 0;
    margin: 0 auto;
    width: 15rem;
    height: inherit;
    list-style: none;
}
.meet-card{
    position: relative;
}
.meet-card::before{
    position: absolute;
    display: block;
    z-index: 3;
    top: 5.4rem;
    right: 3.5rem;
    width: 2.5625rem;
    height: 2.5625rem;
    border: 0.25rem solid #ffffff;
    border-radius: 1.25rem;
    content: "";
}
.meet-title{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5625rem;
    color: #333333;
}
.card-title{
    margin: 0;
    margin-bottom: 0.8rem;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #333333;
}
.card-descr{
    margin: 0;
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    color: #666666;
}
.meet-card:first-of-type::before{
    background: #ff4e50 url('../img/card-icon1.png') center no-repeat ; 
    background-size: 1.2rem 1.2rem;
}
.meet-card:nth-of-type(2)::before{
    background: #ffa507 url('../img/card-icon2.png') center no-repeat ; 
    background-size: 1rem 1.3rem;
}
.meet-card:nth-of-type(3)::before{
    background: #1cd7ad url('../img/card-icon3.png') center no-repeat ; 
    background-size: 1.3rem 1.3rem;
}
.meet-card:last-of-type::before{
    background: #4e73db url('../img/card-icon4.png') center no-repeat ;
    background-size: 1.2rem 1.2rem;
}
@media screen and (min-width: 320px){
    .container-fluid{
        margin-bottom: 4.3125rem;
    }
    .container-fluid>.row:last-child{
        padding-bottom: 8.3rem;
    }
    .container{
        padding-bottom: 3.5625rem;
    }
    .menu{
        padding-top: 1.4rem;
        margin: 0 auto; 
        margin-bottom: 7.3rem;
    }
    .logo{
        margin-bottom: 1.75rem;
    }
    .title{
        margin-bottom: 0.45rem;
    }
    .subtitle{
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin-bottom: 1rem;
    }
    .meet-container{
        margin: 0 auto;
        width: 13.875rem;
        height: 57.6875rem;
        margin-bottom: 1.7rem;
    }
    .meet-colect>.row>.col-12:first-child{
        margin-bottom: 0.9375rem;
    }
    .card-photo{
        width: 7.5625rem;
        height: 7.5625rem;
    }
}
@media screen and (min-width: 768px) and (orientation: landscape){
    .container-fluid{
        margin-bottom: 4.35rem;
    }
    .container-fluid>.row:last-child{
        padding-bottom: 14.5rem;
    }
    .container-fluid>.row:first-child>.col-sm-12{
        padding-top: 2.3rem;
    }
    .container-fluid>.row:first-child{
        margin-bottom: 7.5rem;
    }
    .menu{
        padding: 0;
        margin-bottom: 0;
    }
    .container{
        padding-bottom: 2.5rem;
    }
    .logo{
        margin-bottom: 0;
        line-height: 1.75em;
    }
    .title{
        padding-top: 1.4rem;
        font-size: 3.25rem;
        line-height: 4rem;
        margin-bottom: 1.5rem;
    }
    .subtitle{
        padding: 0;
        margin: 0;
        margin-bottom: 2.1rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .find{
        padding: 0.75rem 1.1rem 0.75rem;
    }
    .see-partners{
        padding: 0.6rem 1.5rem 0.6rem;
    }
    .meet-container{
        margin-bottom: 2.4375rem;
        height: 30.8125rem;
        width: 70%;
    }
    .meet-card{
        margin: 0;
        width: 14rem;
    }
    .card-photo{
        margin-bottom: 1.1rem;
    }
    .card-title{
        margin-bottom: 0.9rem;
    }
    .card-list {
        width: 30.25rem;
    }
    .meet-colect>.row>.col-12:first-child{
        padding: 0;
        margin: 0;
        margin-bottom: 2.1rem;
    }

}
@media screen and (min-width: 992px) and (max-width: 1440px){
    .container-fluid>.row:last-child {
        padding-bottom: 9rem;
    }
    .card-list{
        width: 50rem;
    }
    .meet-container{
        height: 14.7rem;
    }
}    
@media screen and (min-width: 1440px){
    .container-fluid{
        margin-bottom: 4.25rem;
    }
    .container-fluid>.row:last-child{
        padding-bottom: 14.5rem;
    }
    .background{
        background-size: 100%;
    }
    .menu{
        padding: 0;
        margin-left: 4rem;
    }
    .container{
        padding-bottom: 4.25rem;
    }
    .title{
        margin-bottom: 1.6rem;
    }
    .subtitle{
        margin-bottom: 2rem;
    }
    .meet-container{
        width: 85%;
        height: 14.7rem;
    }
    .card-list{
        width: 60rem;
    }
    .meet-colect>.row>.col-12:first-child{
        padding: 0;
        margin: 0;
        margin-bottom: 2.1rem;
    }
    .see-partners{
        padding: 0.5rem 1.5rem 0.65rem;
    }
}







/*========Задание-4=========*/

/* .container{
    display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: [row1-start] 200px [row1-end row2-start] 200px 
    [row2-end row3-start] 300px [row3-end];
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: row1-start;
    grid-row-end: row2-end;
    background-image: url('../img/photo-tablet.jpg');
}
.item-2{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-image: url('../img/card1.jpg');

}
.item-3{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: row2-start;
    grid-row-end: row2-end;
    background-image: url('../img/card2.jpg');
}
.item-4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
    background-image: url('../img/photo.jpg');
}
.item-5{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: row3-start;
    grid-row-end: row3-end;
    background-image: url('../img/card3.jpg'); 
}
.item-6{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: row2-start;
    grid-row-end: row3-end;
    background-image: url('../img/card4.jpg');
} */


/*========Задание 1-3=========*/

/* .content{
    background-color: aquamarine;
    height: 100px;
}
.sidebar{
    background-color: brown;
    height: 100px;
}
.grid-item{
    background-color: darkorange;
    height: 100px;
}
.feature{
    background-color: fuchsia;
    height: 100px;
}
.ferture{
    background-color: midnightblue;
    height: 100px;
}
@media screen and (min-width: 768px){
    .content, .sidebar{
        height: 200px;
    }
} */
