@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v18-latin-300.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v18-latin-regular.woff') format('woff');
  }

body{
    margin: 0;
}  
.header{
    width: 100%;
    text-align: center;
}
.background{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)),url('../img/photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 9.375rem;
    margin: 0 auto;
}
.login, .signup{
    border: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #ffffff; 
}
.signup{
    border: 0.125rem solid #ffffff;
    padding: 0.5rem 0.9rem 0.5rem;
    border-radius: 1.5rem;
}
.logo{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #ffffff; 
}
.title{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #ffffff; 
}
.subtitle{
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #ffffff;
}
.find, .see-partners{
    border: 0;
    border: 0.0625rem solid #ff4e50;
    padding: 0.75rem 2.75rem 0.75rem;
    border-radius: 1.25rem;
    background-color: #ff4e50;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #ffffff;
}
.see-partners{
    border: 0.125rem solid #ff4e50;
    padding: 0.65rem 4.2rem 0.65rem;
    background-color: transparent;
    color: #ff4e50;
}
.card-photo{
    display: block;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}
.meet-card::before{
    position: absolute;
    z-index: 3;
    top: 5.4rem;
    right: 2.9rem;
    width: 2.0625rem;
    height: 2.0625rem;
    border: 0.25rem solid #ffffff;
    border-radius: 1.25rem;
    content: "";
}
.meet-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}
.meet-colect{
    text-align: center;
}
.meet-card{
    position: relative;
}
.meet-title{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5625rem;
    color: #333333;
}
.card-title{
    margin: 0;
    margin-bottom: 0.97rem;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    color: #333333;
}
.card-descr{
    margin: 0;
    font-family: 'Roboto';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    color: #666666;
}
.meet-card:first-of-type::before{
    background: #ff4e50 url('../img/card-icon1.png') center no-repeat ; 
    background-size: 1.3rem 1.3rem;
}
.meet-card:nth-of-type(2)::before{
    background: #ffa507 url('../img/card-icon2.png') center no-repeat ; 
    background-size: 1rem 1.3rem;
}
.meet-card:nth-of-type(3)::before{
    background: #1cd7ad url('../img/card-icon3.png') center no-repeat ; 
    background-size: 1.3rem 1.3rem;
}
.meet-card:last-of-type::before{
    background: #4e73db url('../img/card-icon4.png') center no-repeat ;
    background-size: 1.3rem 1.3rem;
}
@media screen and (min-width: 320px){
    .header{
        margin-bottom: 4.3125rem;
    }
    .background{
        height: 33.6875rem;
    }
    .main{
        padding-bottom: 3.5625rem;
    }
    .menu{
        padding-top: 1.4rem;
        padding-bottom: 7.3rem; 
    }
    .logo{
        margin-bottom: 1.75rem;
    }
    .title{
        margin-bottom: 0.6rem;
    }
    .subtitle{
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
    }  
    /* .find{
        margin-bottom: 8.3rem;
    } */
    .meet-container{
        margin: 0 auto;
        width: 13.875rem;
        height: 57.6875rem;
        margin-bottom: 1.8125rem;
    }
    .meet-title{
        margin-bottom: 0.9375rem;
    }
    .card-photo{
        width: 7.5625rem;
        height: 7.5625rem;
    }
}
@media screen and (min-width: 768px) and (orientation: landscape){
    .header{
        margin-bottom: 4.2rem;
    }
    .background{
        height: 43.8125rem;
    }
    .main{
        padding-bottom: 2.5rem;
    }
    .nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 2.4rem;
        width: 87%;
        margin: 0 auto;
        margin-bottom: 8.8rem;
    }
    .menu{
        order: 2;
        padding: 0;
        margin: 0;
    }
    .logo{
        margin: 0;
        order: 1;
        line-height: 1.75em;
    }
    .title{
        margin: 0 auto;
        width: 66%;
        font-size: 3.25rem;
        line-height: 4rem;
        margin-bottom: 1.6rem;
    }
    .subtitle{
        padding: 0;
        margin: 0;
        margin-bottom: 2.2rem;
        font-size: 1.5rem;
    }
    .find{
        padding: 0.75rem 1.1rem 0.75rem;
        /* margin-bottom: 14.7rem; */
    }
    .see-partners{
        padding: 0.6rem 1.5rem 0.6rem;
    }
    .meet-container{
        margin: 0 auto;
        margin-bottom: 2.4375rem;
        height: 30.8125rem;
        width: 64%;
    }
    .meet-card{
        margin: 0;
        width: 14rem;
    }
    .card-title{
        margin-bottom: 0.9rem;
    }
    .meet-card:nth-of-type(2){
        order: 2;
    }
    .meet-card:last-of-type{
        order: 3;
    }
    .meet-title{
        padding: 0;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 55%;
    }

}
@media screen and (min-width: 1050px) and (max-width: 1440px){
    .meet-container{
        width: 88%;
        height: 14.7rem;
    }
}
@media screen and (min-width: 1440px){
    .background{
        background-size: 100%;
        height: 44.0625rem;
    }
    .main{
        padding-bottom: 4.25rem;
    }
    .nav{
        width: 65%;
    }
    .title{
        width: 35%;
        margin-bottom: 1.6rem;
    }
    .subtitle{
        margin-bottom: 2.4rem;
    }
    .meet-container{
        width: 67%;
        height: 14.7rem;
    }
    .see-partners{
        padding: 0.5rem 1.5rem 0.65rem;
    }
}   

