:root{
    --width-height: 400px;
    --back: #424242;
    --sec-w-h:100px;
}
body{
    padding: 0;
    margin: 0;
}
.box{
    width: var(--width-height);
    height: var(--width-height);
    background-color: var(--back);
}
.sec1{
    position: absolute;
    left: 0;
    top: 0;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: blue;
}
.sec2{
    position: absolute;
    left: 150px;
    top: 0;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: green;
}
.sec3{
    position: absolute;
    left: 300px;
    top: 0;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: pink;
}
.sec4{
    position: absolute;
    left: 0;
    top: 150px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: red;
}
.sec5{
    position: absolute;
    left: 150px;
    top: 150px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: orange;
}
.sec6{
    position: absolute;
    left: 300px;
    top: 150px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: violet;
}
.sec7{
    position: absolute;
    left: 0;
    top: 300px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: blue;
}
.sec8{
    position: absolute;
    left: 150px;
    top: 300px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: yellow;
}
.sec9{
    position: absolute;
    left: 300px;
    top: 300px;
    width: var(--sec-w-h);
    height: var(--sec-w-h);
    background-color: blue;
}
/* main{
    width: 100%;
    height: 758px;
    background-image: url("../img/nastol1.jpg");
    background: linear-gradient(rgba(0 , 0, 0, 0.3));
    background-position: center;
} */
