@import url('https://fonts.googleapis.com/css?family=Roboto:900,600,400,300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300');
:root{
    --wh-button: 104px;
    --salatoviy: #1abc9c;
}
body{
    margin: 0; 
}
nav{
    padding-top: 33px;
    min-height: 32px;
    padding-bottom: 27px;
}
.wrapper{
    width: 1110px;
    margin: 0 auto;
}
.menu{
    float: right;
    width: 480px;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 32px;
}
.menu-item {
    float: left;
    color: #0E1116;
    margin-right: 31px;
    cursor: pointer;  
 }
.menu-item:last-child{
    margin-right: 0;
}
.item-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    color: #0f0101;  
}
.item-link:hover{
    color: #1abc9c;
}
.logo{
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    color: #605e5e;  
}
.logo::first-letter{
    content: '';
    text-decoration: none;
    font-size: 30px;
    line-height: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    color: var(--salatoviy);  
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}


.slider{
    position: relative;
    width: 100%;
    height: 600px;
    color: #ffffff;
    background:linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../img/slider1.png");
}
.sl-title{
    display: inline-block;
    margin: 0;
    padding-top: 218px;
    padding-left: 430px;
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 1;
}
.sl-desc{
    /* position: absolute;
    top: 297px;
    left: 420px; */
    display: inline-block;
    padding-left: 430px;
    margin: 0;

    font-size: 25px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.sl-button{
    position: absolute;
    padding: 0;
    background-color: var(--salatoviy);
    opacity: 0.7;
    border: 0;
    width: var(--wh-button);
    height: var(--wh-button);
    cursor: pointer;
}
.btn-left{
    top: 225px;
    left: 245px;
}
.btn-right{
    top: 225px;
    right: 160px;
}
.icon-left, .icon-right{
    width: 90px;
    height: 90px;
    background-image: url('../img/angle-left.svg');
    background-size: cover;
}
.icon-right{
    background-image: url('../img/angle-right.svg');
}

.collection{
    padding-bottom: 101px;
    background-color: #e9f0fd;
}
.section-name{
    margin: 0;
    padding-top: 100px;
    margin-bottom: 82px;
    text-align: center;
    font-size: 48px;
    line-height: 38px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #515151;
}
.section-name::after{
    display: block;
    width: 166px;
    height: 7px;
    background-color: var(--salatoviy);
    content: '';
    margin: 0 auto;
    margin-top: 29px;
}

.collection-list{
    height: 320px;

}
.card{
    display: inline-block;
    position: relative;
    margin: 0;
    width: 255px;
    margin-left: -0.25em;
}

.card:not(:nth-child(4n)){
    margin-right: 30px;
}
.card:first-child{
    margin-left: 0;
}

.hover-container{
    position: absolute;
    opacity: 0;
    width: 235px;
    height: 260px;
    border: 10px solid #ffffff;
    background-color: #323232;
}
.button-container{
    position: absolute;
    top: 88px;
    left: 45px;
    width: 165px;
    height: 120px;
    z-index: -1;
    background-color: transparent;
}
.card:hover .button-container{
    z-index: 0;
}
.btn-like, .btn-change, .btn-time,.btn-add{
    position: absolute;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
}

.btn-change{
    left: 58px;
}
.btn-time{
    right: 0;
} 
.btn-add{
    top: 57px; 
    width: 165px;
    text-align: center;
    background-color: #323232;
}
.add-word{
    display: inline-block;
    margin: 0;
    padding-left: 12px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}
.icon-like, .icon-shuffle,
.icon-clock, .icon-cart{
    width: 25px;
    height: 25px;
    background-size: cover;
}
.icon-like{
    background-image: url('../img/like.svg');
}
.icon-shuffle{
    background-image: url('../img/shuffle.svg');
}
.icon-clock{
    background-image: url('../img/clock.svg');
} 
.icon-cart{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-image: url('../img/cart.svg');
}


.card-photo, .card-photo-2,
.card-photo-3, .card-photo-4{
    display: block;
    background-image: url('../img/collection1.png');   
    height: 280px;
    width: 255px;
}
.card-photo-2{
    background-image: url('../img/collection2.png');
}
.card-photo-3{
    background-image: url('../img/collection3.png');
}
.card-photo-4{
    background-image: url('../img/collection4.png');
}
.card-link{
    display: block;
    float: left;
    width: 179px;
    background-color: #323232;
    padding: 13px 10px 8px;
    font-size: 18px;
    line-height: 16px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    border: 1px solid #323232;
}
.card:hover .card-link{
    background-color: var(--salatoviy);
    border: 1px solid  var(--salatoviy);
}
.card:hover .card-price{
    background-color: #7fd9c7;
}
.card:hover .hover-container{
    opacity: 0.6;
}
.btn-like:hover, .btn-change:hover,
.btn-time:hover{
    background-color: var(--salatoviy);
    border: 1px solid  var(--salatoviy);
}
.card-price{
    display: block;
    float: right;
    width: 30px;
    padding: 10px 12px 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    background-color: #8c8c8c;
    color: #ffffff;
}
.card-price::before{
    content: "\0024";
}


footer{
    width: 100%;
    background-color: #323232;
}
.footer-text{
    margin: 0;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 33px; 
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.footer-name{
    color: #46bfa9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}





.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

