@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

header {
    margin: 0 auto;
    width: 725px;
    height: 130px; 
}

header ul{
    list-style: none;
    padding-top: 30px;
}

header ul li{
    display: inline;
    margin-right: 2px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}
header ul li a{
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;    
}
a:hover{
    color: #03a9f4;
}

div.ar1, div.ar2, div.ar3, div.ar4, div.ar5, div.ar6{
    display: inline-block;
    padding-left: 5px;
    width: 470px;
}

