@import 'variables';

.main-team{
    width: 75rem;
    margin: 0 auto;
    &_title{
        @extend %title;
        margin-bottom: 5.3125rem;
        &::after{
            @extend %pseudo;
            top: 4.3rem;
        }
    }
    &_subtitle{
        @extend %subtitle;
        margin-bottom: 1.1rem;
    }
    &_descr{
        @include font_style($roboto, 1em, 400, 1.5em, none, deskr-gray);
        margin: 0 auto;
        width: 62rem;
        margin-bottom: 5.5rem;
    }
    &_collection{
        @extend %collection;
        display: -webkit-box;
            display: -ms-flexbox;
                display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-around;
        height: 34.0625rem;
    }    
}
.team_collection_card{
    -ms-flex-preferred-size: 22rem;
        flex-basis: 22rem;
    &_backgr-color{
        @include whmb($width: 23.8125rem, $height: 29.4375rem, 
        $mar-bottom: 1.7rem ,$pos: relative, $dis: block);
        background-color: map-get($map: $colors, $key: footbutton);
    }
    &_name{
        @include font_style($mont, 0.8em, 400, 1.3em, uppercase, sub-black);
        margin-bottom: 0.5rem;
    }
    &_occupation{
        @include font_style($roboto, 1em, 400, 1.3em, none, deskr-gray);
        font-style: italic;
    }
}
.hover-container{
    @include whmb($width: 23.75rem, $height: 29.375rem, 
    $pos: absolute, $dis: block);

    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    &:hover .social-container{
        opacity: 1;
    }
}
#first-hover_container{
    background-image: url('../img/team1.jpg');
    &:hover{
        @include back-transform(team1);
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
        (min-resolution: 192dpi){
            background: $line-grad, url('../img/team1@2x.jpg');
        }
    }
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
    (min-resolution: 192dpi){
        background-image: url('../img/team2@2x.jpg');
    }   
}
#second-hover_container{
    background-image: url('../img/team2.jpg');
    &:hover{
        @include back-transform(team2);
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
        (min-resolution: 192dpi){
            background: $line-grad, url('../img/team2@2x.jpg');
        }
    }
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
    (min-resolution: 192dpi){
        background-image: url('../img/team2@2x.jpg');
    } 
}
#third-hover_container{
    background-image: url('../img/team3.jpg');
    &:hover{
        @include back-transform(team3);
        @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
        (min-resolution: 192dpi){
            background: $line-grad, url('../img/team3@2x.jpg');
        }    
    }
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
    (min-resolution: 192dpi){
        background-image: url('../img/team3@2x.jpg');
    } 
}
.social-container{
    @include whmb($width: 14.6rem, $height: 3.6875rem, 
    $pos: absolute, $dis: block);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;

    background-color: map-get($map: $colors, $key: hover);
}
.social-button{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-right: 0.0625rem solid #f3818173 ;
    text-align: center;
    @include buttons($mar:'left', $marnum: -0.23em, $butwidth: 3.6875rem, $butheight: 3.6875rem);

    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    &:hover{
        background-color: map-get($map: $colors, $key: pseudo);
    }
    &:hover .icon{
        fill: map-get($map: $colors, $key: text-white);
    }
}
.icon{
    @include whmb($width: 1.8rem, $height: 1.8rem);
    fill: map-get($map: $colors, $key: pseudo);
    &_facebook{
        padding-left: 1.5rem;
    }
}