@import 'variables';

.header-subtitle{
    margin: 0;
    margin-bottom: 2.8rem;
    @include font_style($kaush, 4.5rem, 400, 3.75rem, none, text-white);
}
.header-title{
    margin: 0 auto;
    width: 60%;
    @include font_style($mont, 9.4rem, 700, 8.9rem, uppercase, text-white);
    margin-bottom: 6.7rem;
}
.header-button{
    border: 0.2em solid #ffffff;
    margin: 0;
    @include buttons($marnum: 14.375rem,$butwidth: 10rem, $butheight: 2.5rem);

    @include font_style($mont, 0.9rem, 700, '',uppercase, text-white);
}
.item-link{
    text-decoration: none;
    @include font_style($mont, 0.875rem, 400, 0.875rem, uppercase, text-white);

    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: border 200ms linear;
    -o-transition: border 200ms linear;
    transition: border 200ms linear;

}
.nav-logo{
    -ms-flex-preferred-size: 5.75rem;
        flex-basis: 5.75rem;
    text-decoration: none;

    @include font_style($mont, 1.875rem, 700, 2.625rem, none, text-white);
}

.services-subtitle{
    @extend %subtitle;
}
.team-subtitle{
    @extend %subtitle;
    margin-bottom: 1.5rem;
}

.services-title{
    @extend %title;
    &::after{
        @extend %pseudo;
    }
}
.team-title{
    @extend %title;
    margin-bottom: 5.3125rem;
    &::after{
        @extend %pseudo;
        left: 35.625rem;
    }
}
.card-title{
    vertical-align: top;
    margin-bottom: 0.875rem;
    @include font_style($mont, 0.9em, 400, 1em, uppercase, sub-black);
}
.card-descr, .team-descr{
    @include font_style($roboto, 1em, 400, 1.4em, none, deskr-gray);
}
.name{
    @include font_style($mont, 1em, 400, 1.3em, uppercase, sub-black);
    margin-bottom: 0.6875rem;
}
.occupation{
    @include font_style($roboto, 1.5em, 400, 1.8em, none, deskr-gray);
    font-style: italic;
}