@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.page-header{
    padding-top: 38px; 
}
.menu {
    float: right;
    list-style: none;
    padding-right: 275px;
    margin: 0;
}
.menu-item {
   float: left;
   color: #0E1116;
   padding-left: 36px;
   cursor: pointer;  
}
.menu-item:first-child{
    padding-left: 0;
}
.item-link{
    text-decoration: none;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0101;  
}
.item-link:hover{
    color: #1abc9c;
}
.logo{
    float: left;
    text-decoration: none;
    padding-left: 260px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #605e5e;  
}
.logo::before{
    content: "M";
    text-decoration: none;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #1abc9c;  
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.products, .news{
    width: 1110px;
    padding-top: 80px;
    margin: 0 auto;
}
.news{
    padding-top: 75px;
}
.section-name, .topic-title{
    font-size: 48px;
    padding-left: 320px;
    margin-bottom: 94px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
}
.topic-title{
    padding-left: 400px;
    margin-bottom: 81px;
}
.section-name::after{
    display: block;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin-top: 33px;
    margin-left: 154px;
}
.topic-title::after{
    display: block;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin-top: 33px;
    margin-left: 80px;
}
.product-list, .news-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.content{
    width: 255px;
    background-color: #e9f0fd;
}
.product-item{
    float: left;
    width: 255px;
    margin-bottom: 30px;
}
.news-item{
    float: left;
    width: 350px;
}
.product-item:not(:nth-child(4n)){
    margin-right: 30px;
}
.news-item:not(:nth-child(3n)){
    margin-right: 30px;
}
img{
    width: 255px;
    height: 282px;
}
.product-link{
    display: block;
    float: left;
    width: 179px;
    background-color: #323232;
    padding: 3px 10px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    border: 1px solid #323232;
}
.content:hover .product-link{
    background-color: #1abc9c;
    border: 1px solid  #1abc9c;
}
.prod-price{
    display: block;
    float: right;
    width: 30px;
    padding: 11px 12px 10px;
    background-color: #8c8c8c;
    color: #ffffff;
}
.prod-price::before{
    content: "\0024";
}

.news-img{
    width: 350px;
    height: 263px;
}

.title{
    margin: 0;
    margin-top: 15px; 
    font-size: 18px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #555252;
}
.title::after{
    display: block;
    width: 136px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin-top: 15px;
    margin-bottom: 30px;
}
p{
    margin: 0;
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555252; 
}
.readmore{
    margin: 0;
    margin-bottom: 81px;
    padding: 11px 43px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #f3fbf9;
    border: 1px solid #1abc9c;
    background-color: #1abc9c; 
    border-radius: 2.5px;
}
/* .menu-item::before {
    content: "\2192";	

}
.menu-item:nth-child(3n-2) {
    background-color: #88292F;
}
.menu-item:nth-child(3n-1) {
    background-color: #5DB7DE;
}
.menu-item:nth-child(3n) {
    background-color: #0D5D56;
}
.menu-item:hover {
    color: red
} */

