<div class="post">
        <h2 class="url">{{ url }}</h2>
        <img class = "photo" src="{{img}}" alt="img"/>
        <p class="title"><b>Title: </b>{{ title }}</p>
        <p class="descr"><b>Description: </b>{{ descr }}</p>
</div>